<div class="container">
    <section class="error-page h-p100">
        <div class="container h-p100">
          <div class="row h-p100 align-items-center justify-content-center text-center">
              <div class="col-lg-7 col-md-10 col-12">
                  <div class="rounded5 bg-white-10 pb-50">
                      <img src="assets/img/others/404-notfound.jpg" alt="404 page not found">
                      <!-- <h1 class="text-white font-size-180 font-weight-bold error-page-title"> 404</h1> -->
                      <h1 class="text-dark">Page Not Found !</h1>
                      <h3 class="text-gray">looks like, page doesn't exist</h3>
                      <div class="my-30"><a routerLink="/" class="btn btn-info"><span class="text-white">Back to dashboard</span></a></div>				  
                  </div>
              </div>				
          </div>
        </div>
    </section>
</div>
