<div class="card">
  <div class="d-flex align-items-center bg-white">
    <!-- Left side dashboard -->
    <div class="mr-auto">
        <div class="page-title mx-3 pt-4">Account Information</div>
    </div>
    <div class="right-title">
        <div class="d-flex justify-content-end mr-4">
          <a routerLink="/admin/accounts/edit/{{accountDetails?.id}}" class="btn btn-sm btn btn-link mr-1">
            <strong><i class="si si-pencil"></i>&nbsp; Edit</strong>
          </a>
        </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12">

        <p>
          <strong class="text-blue font-size-18">{{accountDetails?.firstName}} {{accountDetails?.lastName}}
        </strong>
        </p>
        <div>
          <p>Email :<span class="text-gray pl-10">{{accountDetails?.email}}</span> </p>
          <p>Phone :<span class="text-gray pl-10">{{accountDetails?.phoneNumber}}</span></p>
          <p>Address :<span class="text-gray pl-10">{{accountDetails?.address}}, {{accountDetails?.city}},
              {{accountDetails?.state}}, {{accountDetails?.country}}</span></p>
        </div>
      </div>
      <div class="col-12">
        <div class="map-box">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2805244.1745767146!2d-86.32675167439648!3d29.383165774894163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c1766591562abf%3A0xf72e13d35bc74ed0!2sFlorida%2C+USA!5e0!3m2!1sen!2sin!4v1501665415329"
            width="100%" height="100" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-2 pull-right">
        <a mat-button routerLink routerLink="/admin" class="">Back</a>
      </div>
    </div>
  </div>
</div>  