<!-- Content Header (Page header) -->
<div class="d-flex align-items-center bg-white">
    <!-- Left side dashboard -->
    <div class="mr-auto">
        <div class="page-title mx-3 py-4">All Payments</div>
    </div>
  </div>
  <section class="content">
    <!-- Table list view -->
    <div class="box">
        <div class="box-header with-border table-bg">
            <div class="sub-page-title">Payments</div>
        </div>
        <div class="box-body p-15">
            <div class="table-responsive">
                <div id="tickets_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                    <!-- Filters Panel -->
                    <div class="">
                        <h4 class="box-title">FILTER TYPES <b>DATEPICKER</b></h4>
                        <!-- Filter Right Side -->
                        <div class="box-controls pull-right">
                            <div class="lookup lookup-circle lookup-right">
                                <input type="text" placeholder="Find Account">
                            </div>
                        </div>
                    </div>
  
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="customers" class="table mt-0 table-hover no-wrap">
                                <thead>
                                    <tr role="row">
                                        <th>Payment ID</th>
                                        <th>Transaction Type</th>
                                        <th>Payment Type</th>
                                        <th>Amount Paid</th>
                                        <th>Payment Date</th>
                                        <th>Status</th>
                                        <th>Loan Amount</th>
                                        <th>Owings</th>
                                    </tr>
                                </thead>
                                <tbody style="width: 100%;">
                                    <div class="mb-3" *ngIf="payments?.length === 0">
                                        <div class="text-center empty-record">
                                            No Records Found!.
                                        </div>
                                    </div>
                                    <tr class="tr-border" *ngFor="let payment of payments; let i = index">
                                        <td><a [routerLink]="['view', payment.id]">
                                            {{payment.id | slice: 0:10 | uppercase}}
                                            </a>
                                        </td>
                                        <td>{{payment.transaction}}</td>
                                        <td>{{payment.paymentType }}</td>
                                        <td>{{payment.amountPaid | currency: 'GHS '}}</td>
                                        <td>{{payment.paymentDate | date: 'dd/MM/yyyy'}}</td>
                                        <td *ngIf="payment.paymentStatus === 'Pending'"> <span class="badge badge-warning">{{
                                                payment.paymentStatus }}</span>
                                        <td *ngIf="payment.paymentStatus === 'Recovered'"> <span class="badge badge-info">{{
                                                payment.paymentStatus }}</span>
                                        <td *ngIf="payment.paymentStatus === 'Success'"> <span class="badge badge-success">{{
                                                payment.paymentStatus }}</span>
                                        <td *ngIf="payment.paymentStatus === 'Canceled'"> <span class="badge badge-danger">{{
                                                payment.paymentStatus }}</span>
                                        </td>
                                        <td>{{totalLoan | currency: 'GHS '}}</td>
                                        <td>{{totalLoan - payment.amountPaid | currency: 'GHS '}}</td>   
                                    </tr>
                                    <!-- Spinner isLoading -->
                                    <tr *ngIf="!payments">
                                        <td colspan="12" class="text-center">
                                            <span
                                                class="text-success spinner-border spinner-border-lg align-center"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Paginqtion area -->
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="tickets_info" role="status" aria-live="polite">
                                Showing 1 to 10 of 20 entries</div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="tickets_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous disabled" id="tickets_previous"><a
                                            href="#" aria-controls="tickets" data-dt-idx="0" tabindex="0"
                                            class="page-link">Previous</a>
                                    </li>
                                    <li class="paginate_button page-item active"><a href="#" aria-controls="tickets"
                                            data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                    <li class="paginate_button page-item "><a href="#" aria-controls="tickets"
                                            data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                    <li class="paginate_button page-item next" id="tickets_next"><a href="#"
                                            aria-controls="tickets" data-dt-idx="3" tabindex="0"
                                            class="page-link">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>