<div class="">
    <nav class="bg-white my-4 navbar navbar-expand navbar-light">
        <div class="navbar-nav">
            <a routerLink="/admin" routerLinkActive="active" class="nav-item nav-link"><i class="ti ti-dashboard "></i> Dashboard</a>
            <a routerLink="accounts" routerLinkActive="active" class="nav-item nav-link"><i class="mdi mdi-account-key"></i> Manage Users</a>
            <a routerLink="accounts/add" routerLinkActive="active" class="nav-item nav-link"><i class="mdi mdi-account-plus"></i>Add User</a>
        </div>    
    </nav>
</div>