<div class="">
    <div class="box">
        <div class="box-header">
            <h4 class="box-title">
                My Credit Card
            </h4>
        </div>
        <div class="box-body">

            <div class="container">
                <div id="accordion">
                    <div class="">
                        <div class="" id="headingOne">
                            <div class="mb-0 d-inline">

                                <a class="btn btn-sm btn-link" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    <i class="ti ti-plus"></i>
                                </a>
                                <span class="ml-3">Loan ID: {{loanDetails?.id}}</span>
                                <div class="">
                                    <tr role="row" class="odd shown">
                                        <td class="text-bold"><span>Loan Type: {{loanDetails?.loanType}}</span>
                                            &nbsp;&nbsp;&nbsp; <span>Loan Status:
                                            </span>
                                            <span>
                                        <td *ngIf="loanDetails?.loanStatus === 'Pending'">
                                            <span class="badge badge-warning">{{
                                                loanDetails?.loanStatus }}</span>
                                        <td *ngIf="loanDetails?.loanStatus === 'Approved'"> <span
                                                class="badge badge-success">{{
                                                loanDetails?.loanStatus }}</span>
                                        <td *ngIf="loanDetails?.loanStatus === 'Recovered'"> <span
                                                class="badge badge-info">{{
                                                loanDetails?.loanStatus }}</span>
                                        <td *ngIf="loanDetails?.loanStatus === 'Canceled'"> <span
                                                class="badge badge-danger">{{
                                                loanDetails?.loanStatus }}</span>
                                        </td></span></td>&nbsp;&nbsp;&nbsp;
                                        <td class="text-bold">Requested Date: {{loanDetails?.created | date: 'dd/MM/yyyy'}}</td>
                                        &nbsp;&nbsp;&nbsp;<span>
                                            <td class="text-bold">Reviewed Date: {{loanDetails?.statusDate | date: 'dd/MM/yyyy'}}</td>
                                        </span>
    
                                    </tr>
                                </div>
                            </div>
                            <!-- <a href="#" data-target="[data-parent='#child1']" data-toggle="collapse" class="my-2 float-right">toggle all</a> -->
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <div class="">


                                <td>
                                    <table cellpadding="6" cellspacing="0" border="0" style="width: 100%;">
                                        <tbody *ngFor= "let document of docs">
                                            <tr>
                                                <td>Document Details</td>
                                            </tr>
                                            <tr>
                                                <td>Doc ID:</td>
                                                <td><strong>{{document.id}}</strong></td>
                                            </tr>
                                            <tr>
                                                <td>ID Card:</td>
                                                <td>{{document.idCard}}</td>
                                            </tr>
                                            <tr>
                                                <td>ID Number:</td>
                                                <td>{{document.idNumber}}</td>
                                            </tr>
                                            <tr>
                                                <td>Date Uploaded:</td>
                                                <td>{{document.created | date: 'dd/MM/yy - hh:mm:ss'}}</td>
                                            </tr>
                                            <tr>
                                                <td>Action:</td>
                                                <td><button class="btn btn-xs btn-danger pull-right ml-1" >Delete Record</button>
                                                    <button class="btn btn-xs btn-success pull-right">Save Changes</button>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </td>
                            </div>
                        </div>
                    </div>
                    <div class="my-3">
                        <div class="" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    Collapsible #2
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                                excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                                raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                                sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Collapsible #3
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordion">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                                excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                                raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                                sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>