<div class="">
    <div class="box">
        <div class="box-header">
            <a routerLink='../../' class="btn btn-sm btn-link pull-left"><i class="ti ti-angle-left"></i> </a>
            <span class="page-title text-center">
                Loan Information
            </span>
        </div>
        <div class="box-body">

            <div class="container">
                <div id="accordion">
                    <div class="table-responsive" cellpadding="5" cellspacing="2" border="0">
                        <div class="mb-0 d-inline">
                            <span class="text-bold">Loan ID: {{loanDetails?.id | uppercase}}</span>
                            <div class="mt-3">
                                <tr role="row" class="odd shown">
                                    <td class="text-bold">Loan Type: </td>
                                    <td>{{loanDetails?.loanType}}</td>
                                </tr>
                                <tr role="row" class="odd shown">
                                    <td class="text-bold">Loan Amount: </td>
                                    <td>{{loanDetails?.loanAmount |currency: 'GHS '}}</td>
                                </tr>
                                <tr role="row" class="odd shown">
                                    <td class="text-bold">Date Requested: </td>
                                    <td> {{loanDetails?.created | date:'dd/MM/yyyy - hh:mm:ss'}}</td>
                                </tr>
                                <td class="text-bold">Loan Status:</td>
                                <td *ngIf="loanDetails?.loanStatus === 'Pending'">
                                    <span class="badge badge-warning">{{
                                        loanDetails?.loanStatus }}</span>
                                <td *ngIf="loanDetails?.loanStatus === 'Approved'"> <span class="badge badge-success">{{
                                        loanDetails?.loanStatus }}</span>
                                <td *ngIf="loanDetails?.loanStatus === 'Recovered'"> <span class="badge badge-info">{{
                                        loanDetails?.loanStatus }}</span>
                                <td *ngIf="loanDetails?.loanStatus === 'Canceled'"> <span class="badge badge-danger">{{
                                        loanDetails?.loanStatus }}</span>
                                </td>
                                <tr role="row" class="odd shown">
                                    <td class="text-bold">Date Approved: </td>
                                    <td>{{loanDetails?.statusDate | date:'dd/MM/yyyy - hh:mm:ss'}}</td>
                                </tr>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <div class="mt-3">
                            <div class="mb-3" *ngIf="documents?.length === 0">
                                <div class="text-center empty-record">
                                    No Documents Attached yet !.
                                </div>
                            </div>
                        
                            <table class="table-responsive" cellpadding="5" cellspacing="2" border="0" style="width: 100%;">
                                <div class="text-bold">Document Details</div>
                                <hr style="margin: 5px 0px 1rem;">
                                <tbody *ngFor="let document of documents">
                                    <div class="mb-3">
                                        <tr>
                                            <td>Doc ID:</td>
                                            <td><strong>{{document.id | uppercase}}</strong></td>
                                        </tr>
                                        <tr>
                                            <td>ID Card:</td>
                                            <td>{{document.idCard}}</td>
                                        </tr>
                                        <tr>
                                            <td>ID Number:</td>
                                            <td>{{document.idNumber}}</td>
                                        </tr>
                                        <tr>
                                            <td>Date Created:</td>
                                            <td>{{document.created | date: 'dd/MM/yy - hh:mm:ss'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Date Updated:</td>
                                            <td>{{document.updated | date: 'dd/MM/yy - hh:mm:ss'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Action:</td>
                                            <td>
                                                <a class="badge badge-warning mr-1"
                                                    routerLink="/admin/loans/{{loanDetails?.id}}/document/{{document.id}}">
                                                    <i class="ti ti-pencil"></i> Edit Document
                                                </a>
                                                <a (click)="onDeleteDocument(document.id)" class="badge badge-danger">
                                                    <i class="ti ti-trash"></i>Remove Document
                                                </a>
                                            </td>
                                        </tr>
                                    </div>
                                    <hr>
                                    <hr>
                                </tbody>
                                <div>
                                    <a class="btn btn-sm btn-success" routerLink="/admin/loans/{{loanDetails?.id}}/document">
                                        <i class="ti ti-plus"></i>Add New Document
                                    </a>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>