<aside class="control-sidebar bg-white">

	<div class="rpanel-title">
		<span class="pull-right btn btn-sm btn-circle btn-danger" data-toggle="control-sidebar">
			<i class="ion ion-close text-white"></i>
		</span>
	</div> <!-- close the tabs -->
	<ul class="nav nav-tabs control-sidebar-tabs">
		<li class="nav-item"><a href="#payments-tab" data-toggle="tab"><i class="fa fa-money"></i></a></li>
		<li class="nav-item"><a href="#loans-tab" data-toggle="tab"><i class="ti ti-layers"></i></a></li>
		<li class="nav-item"><a href="#users-tab" data-toggle="tab"><i class="fa fa-users"></i></a></li>
	</ul>
	<!-- Tab panes -->
	<div class="tab-content">

		<!-- Payment tab content -->
		<div class="tab-pane active" id="payments-tab">
			<div class="flexbox bb-2">
				<p>Recent Payments</p>
			</div>
			<ul class="todo-list" >
				<li class="px-5 bb-1" *ngFor="let payment of payments">
					<!-- account text -->
					<span class="text-line">{{payment.amountPaid | currency:'GHS ': 'symbol': '1.0'}}
						<span class="mx-1 text-bold">by:</span>
						{{payment.accountId.firstName}} {{payment?.accountId.lastName}}
					</span>
					<small class="badge bg-warning"><i class="fa fa-clock-o"></i> {{payment.paymentDate | date:'dd-MM-yyyy  hh:mm:ss a'}}</small>
					<div class="tools font-size-16">
						<a routerLink="/admin/payments/confirm/{{payment.id}}"><i class="ti ti-pencil"></i></a>
					</div>
				</li>
				<li class="text-center"> <a routerLink="/admin/payments">View All</a></li>
			</ul>
		</div>
		<!-- /.tab-pane -->


		<!-- Loans tab content -->
		<div class="tab-pane" id="loans-tab">
			<div class="flexbox bb-2">
				<p>Recent Loan Requests</p>
			</div>
			<ul class="todo-list" >
				<li class="py-15 px-5 bb-1" *ngFor="let loan of loans">
					<!-- account text -->
					<span class="text-line">{{loan.loanAmount | currency:'GHS ': 'symbol': '1.0'}}
						<span class="mx-1 text-bold">
							by:
						</span>
						{{loan.accountId?.firstName}} {{loan.accountId?.lastName}}
					</span>
					<!-- Emphasis label -->
					<small class="badge bg-warning"><i class="fa fa-clock-o"></i> {{loan.created | date:'dd-MM-yyyy  hh:mm:ss a'}}</small>
					<!-- General tools such as edit or delete-->
					<div class="tools font-size-16">
						<a routerLink="/admin/loans/approve/{{loan.id}}"><i class="ti ti-pencil"></i></a>
					</div>
				</li>
				<li class="text-center"> <a routerLink="/admin/loans">View All</a></li>
			</ul>
		</div>
		<!-- /.tab-pane -->


		<!-- Users tab content -->
		<div class="tab-pane" id="users-tab">
			<div class="flexbox bb-2">
				<p>Recent Users</p>
				<a routerLink="/admin/accounts/add" class="text-right text-grey"><i class="ti-plus"></i></a>
			</div>
			<div class="media-list media-list-hover mt-20" *ngFor="let account of accounts">
				<div class="media px-0">
					<a class="avatar avatar-lg status-success" href="#">
						<img src="assets/img/account/avatar.png" alt="...">
					</a>
					<div class="media-body">
						<p class="font-size-16">
							<a routerLink="/admin/accounts/user/{{account.id}}"
								class="hover-primary"><strong>{{account.firstName}} {{account.lastName}}</strong></a>
						</p>
						<p>{{account.jobTitle}}</p>
						<span>{{account.created | date:'dd-MM-yyyy hh:mm:ss a'}}</span>
					</div>
				</div>
			</div>
			<div class="mt-3 text-center"> <a routerLink="/admin/accounts">View All</a></div>

		</div>
		<!-- /.tab-pane -->
	</div>
</aside>