<div class="">
    <nav class="bg-white my-4 navbar navbar-expand navbar-light">
        <div class="navbar-nav">
            <a routerLink="/admin" routerLinkActive="active" class="nav-item nav-link"><i class="ti ti-dashboard "></i> Dashboard</a>
            <a routerLink="accounts" routerLinkActive="active" class="nav-item nav-link"><i class="mdi mdi-account-dollar"></i> Accounts</a>
            <a routerLink="loans" routerLinkActive="active" class="nav-item nav-link"><i class="mdi mdi-account-cash"></i> Loans</a>
            <a routerLink="payments" routerLinkActive="active" class="nav-item nav-link"><i class="mdi mdi-account-cash"></i> Payments</a>
            <a routerLink="invoices" routerLinkActive="active" class="nav-item nav-link"><i class="mdi mdi-account-cash"></i> Invoices</a>
            <a routerLink="reports" routerLinkActive="active" class="nav-item nav-link"><i class="mdi mdi-account-cash"></i> Reports</a>
        </div>    
    </nav>
</div>