<div class="subnav">
    <nav class="bg-white my-4 navbar navbar-expand navbar-light">
        <div class="navbar">
            <a routerLink="/admin" routerLinkActive="active" class="nav-item nav-link"> Dashboard</a>
            <a routerLink="accounts" routerLinkActive="active" class="nav-item nav-link"> Accounts</a>
            <a routerLink="loans" routerLinkActive="active" class="nav-item nav-link"> Loans</a>
            <a routerLink="payments" routerLinkActive="active" class="nav-item nav-link"> Payments</a>
            <a routerLink="invoices" routerLinkActive="active" class="nav-item nav-link"> Invoices</a>
            <a routerLink="reports" routerLinkActive="active" class="nav-item nav-link"> Reports</a>
        </div>    
    </nav>
</div>