<div class="card">
    <div class="card-body">
        <div class="text-center">
            <div class="page-title py-4">Confirm Payment</div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table class="table-responsive" cellpadding="5" cellspacing="0" border="0" style="width: 100%;">
                    <div class="sub-page-title">Loan Infomation</div>
                    <hr style="margin: 5px 0px 1rem;">
                    <tbody>
                        <div class="mb-3">
                            <tr>
                                <td>Loan Type:</td>
                                <td><strong>{{loanDetails?.loanType}}</strong></td>
                            </tr>
                            <tr>
                                <td>Loan Amount:</td>
                                <td>{{loanDetails?.loanAmount | currency: 'GHS '}}</td>
                            </tr>
                            <tr>
                                <td>Date Approved:</td>
                                <td>{{loanDetails?.statusDate | date: 'dd/MM/yyyy'}}</td>
                            </tr>
                            <tr>
                                <td>Full Name:</td>
                                <td>{{user?.firstName}} {{user?.lastName}}</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>{{user?.email}}</td>
                            </tr>
                            <tr>
                                <td>Phone Number:</td>
                                <td>{{user?.phoneNumber}}</td>
                            </tr>

                        </div>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <section class="content">
                    <form [formGroup]="confirmPaymentForm" (ngSubmit)="onSubmit()">
                            <div class="col-md-12">
                                <mat-form-field>
                                    <mat-label>Transaction Type</mat-label>
                                    <input matInput formControlName="transaction" readonly>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12">
                                <mat-form-field>
                                    <mat-label>Payment Type</mat-label>
                                    <input matInput formControlName="paymentType" readonly>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12">
                                <mat-form-field>
                                    <mat-label>Payment Type</mat-label>
                                    <input matInput formControlName="amountPaid" readonly>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12">
                                <mat-form-field>
                                    <mat-label>Payment Status</mat-label>
                                    <mat-select formControlName="paymentStatus"
                                        [ngClass]="{ 'is-invalid': submitted && f.paymentStatus.errors }">
                                        <mat-option *ngFor="let paymentStatus of allStatus" [value]="paymentStatus">
                                            {{paymentStatus}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="submitted && f.paymentStatus.errors">
                                        <div *ngIf="f.paymentStatus.errors.required">
                                            Payment Status is required
                                        </div>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12">
                                <mat-form-field>
                                    <mat-label>Payment Date</mat-label>
                                    <input matInput formControlName="paymentDate" readonly>
                                </mat-form-field>
                            </div>
                            
                        <div class="form-group mt-4 text-right">
                            <button [disabled]="loading" class="btn btn-primary">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Confirm Payment
                            </button>
                            <a routerLink="../../" class="ml-3 btn btn-link">Cancel</a>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>