<div class="container bg-white p-4">
    <!-- Content Header (Page header) -->
    <div class="d-flex align-items-center bg-white">
        <!-- Left side dashboard -->
        <div class="mr-auto py-2">
            <h3 class="page-title mx-2">Accounts</h3>
        </div>
        <div class="right-title">
            <div class="d-flex justify-content-end mr-2">
                <a routerLink="add" class=" mb-5"><i
                        class="si si-plus mr-2"></i>Add</a>
            </div>
        </div>
    </div>

    <div class="row">
    <div class="col-sm-12">
        <table id="customers" class="table mt-0 table-hover no-wrap">
            <thead>
                <tr role="row">
                    <th>ID</th>
                    <th>Title</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr-border" *ngFor="let account of accounts; let i = index">
                    <td>{{account.id | slice: 0:9}}</td>
                    <td>{{account.title}}</td>
                    <td>{{account.firstName}}</td>
                    <td>{{account.lastName}}</td>
                    <td>{{account.email}}</td>
                    <td>{{account.role}}</td>
                    <!-- <td><span class="badge badge-warning">New</span> </td> -->
                    <td>
                        <a routerLink="user/{{account.id}}" class="font-size-18 text-success mr-3">
                            <i class="ti-eye"></i>
                        </a>
                        <a (click)="deleteAccount(account.id, i)" class="font-size-16 text-danger mr-1">
                            <i class="ti ti-trash"></i>
                            <span *ngIf="accounts.isDeleting" class="spinner-border spinner-border-sm"></span>
                            <span *ngIf="!accounts.isDeleting"></span>
                        </a>

                    </td>
                </tr>
                <!-- Spinner isLoading -->
                <tr *ngIf="!accounts">
                    <td colspan="12" class="text-center">
                        <span class="text-success spinner-border spinner-border-lg align-center"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>