<!-- Content Header (Page header) -->
<div class="d-flex align-items-center bg-white">
    <!-- Left side dashboard -->
    <div class="mr-auto">
        <div class="page-title mx-3 py-4">Accounts</div>
    </div>
    <div class="right-title">
        <div class="d-flex justify-content-end mr-4">
            <a routerLink="add" class="font-weight-600 mb-5"><i class="si si-plus mr-2"></i>Add User</a>
        </div>
    </div>
</div>
<section class="content">
    <!-- Table list view -->
    <div class="box pt-3">
        <div class="box-body p-15">
            <div class="table-responsive">
                <div id="tickets_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                    <!-- Filters Panel -->
                    <div class="">
                        <h4 class="box-title">//TODO: FILTER TYPES <b>DATEPICKER</b></h4>
                        <!-- Filter Right Side -->
                        <div class="box-controls pull-right">
                            <div class="lookup lookup-circle lookup-right">
                                <input type="text" placeholder="Find Account">
                            </div>
                        </div>
                    </div>
  

                    <div class="row">
                        <div class="col-sm-12">
                            <table id="customers" class="table mt-0 table-hover no-wrap">
                                <thead>
                                    <tr role="row">
                                        <th>Account ID</th>
                                        <th>Full Name</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th>Role</th>
                                        <th>Date Created</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr class="tr-border" *ngFor="let account of accounts; let i = index">
                                        <td>{{account.id | uppercase}}</td>
                                        <td>{{account.firstName}} {{account.lastName}}</td>
                                        <td>{{account.email}}</td>
                                        <td>{{account.phoneNumber}}</td>
                                        <td>{{account.role}}</td>
                                        <td>{{account.created | date: 'dd/MM/yyyy - hh:mm a'}}</td>
                                        <td>
                                            <a routerLink="user/{{account.id}}" class="font-size-18 text-success mr-2">
                                                <i class="ti-eye"></i>
                                            </a>
                                            <a routerLink="edit/{{account.id}}" class="font-size-16 text-info mr-2">
                                                <strong><i class="si si-pencil"></i></strong>
                                              </a>
                                            <a (click)="deleteAccount(account.id, i)"
                                                class="font-size-16 text-danger mr-1">
                                                <i class="ti ti-trash"></i>
                                                <span *ngIf="accounts.isDeleting"
                                                    class="spinner-border spinner-border-sm"></span>
                                                <span *ngIf="!accounts.isDeleting"></span>
                                            </a>

                                        </td>
                                    </tr>
                                    <!-- Spinner isLoading -->
                                    <tr *ngIf="!accounts">
                                        <td colspan="12" class="text-center">
                                            <span
                                                class="text-success spinner-border spinner-border-lg align-center"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Paginqtion area -->
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="tickets_info" role="status" aria-live="polite">
                                Showing 1 to 10 of 20 entries</div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="tickets_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous disabled" id="tickets_previous"><a
                                            href="#" aria-controls="tickets" data-dt-idx="0" tabindex="0"
                                            class="page-link">Previous</a>
                                    </li>
                                    <li class="paginate_button page-item active"><a href="#" aria-controls="tickets"
                                            data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                    <li class="paginate_button page-item "><a href="#" aria-controls="tickets"
                                            data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                    <li class="paginate_button page-item next" id="tickets_next"><a href="#"
                                            aria-controls="tickets" data-dt-idx="3" tabindex="0"
                                            class="page-link">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>