<div>
    <!-- main nav -->
    <header-nav *ngIf="account"></header-nav>
    <!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="account">
        <div class="navbar-nav">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item nav-link">Home</a>
            <a routerLink="/profile" routerLinkActive="active" class="nav-item nav-link">Profile</a>
            <a *ngIf="account.role === Role.Admin" routerLink="/admin" routerLinkActive="active" class="nav-item nav-link">Admin</a>
            <a (click)="logout()" class="nav-item nav-link">Logout</a>
        </div>
    </nav> -->
    <leftside-nav *ngIf="account"></leftside-nav>
    <div class="content-wrapper">
        <div class="container">
            <!-- subnav router outlet -->
            <router-outlet name="subnav"></router-outlet>
            <!-- global alert -->
            <alert></alert>
            <!-- main router outlet -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<footer-nav *ngIf="account"></footer-nav>
<rightside-nav class="control-sidebar"></rightside-nav>