<div>
    <!-- Main nav -->
    <header-nav *ngIf="account"></header-nav>
    <!-- Left panel -->
    <!-- <leftside-nav *ngIf="account"></leftside-nav> -->
    <div class="container">
        <!-- subnav router outlet -->
        <router-outlet name="subnav"></router-outlet>
        <!-- main router outlet -->
        <router-outlet></router-outlet>
    </div>
</div>
<footer-nav class="footer"></footer-nav>
<!-- right panel -->
<rightside-nav *ngIf="account.role === Role.Admin"></rightside-nav>