<!-- Content Header (Page header) -->
<div class="d-flex align-items-center bg-white">
    <!-- Left side dashboard -->
    <div class="mr-auto">
        <div class="page-title mx-3 py-4">Loans</div>
    </div>
    <div class="right-title">
        <div class="d-flex justify-content-end mr-4">
            <button mat-button (click)="requstDialog()"> <i class="ti ti-plus"></i> Request Loan</button>
        </div>
    </div>
</div>
<section class="content">
    <!-- Table list view -->
    <div class="box pt-3">
        <div class="box-body p-15">
            <div class="table-responsive">
                <div id="tickets_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                    <!-- Filters Panel -->
                    <div class="">
                        <h4 class="box-title">//TODO: FILTER TYPES <b>DATEPICKER</b> &nbsp; &nbsp; SEARCH</h4>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <table id="customers" class="table mt-0 table-hover no-wrap">
                                <thead>
                                    <tr role="row">
                                        <th>Loan ID</th>
                                        <th>Loan Type</th>
                                        <th>Amount</th>
                                        <th>Request Dated</th>
                                        <th>Status</th>
                                        <th>Approval Date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody style="width: 100%;">
                                    <div class="mb-3" *ngIf="loans?.length === 0">
                                        <div class="text-center empty-record">
                                            No Records Found!.
                                        </div>
                                    </div>
                                    <tr class="tr-border" *ngFor="let loan of loans; let i = index">
                                        <td>{{loan.id | slice: 0:10 | uppercase}}</td>
                                        <td>{{loan.loanType}}</td>
                                        <td>{{loan.loanAmount | currency: 'GHS '}}</td>
                                        <td>{{loan.created | date: 'dd/MM/yyyy - hh:mm:ss a'}}</td>
                                        <!-- <td><span class="badge badge-warning">{{loan.loanStatus}}</span> </td> -->
                                        <td *ngIf="loan.loanStatus === 'Pending'"> <span class="badge badge-warning">{{
                                                loan.loanStatus }}</span>
                                        <td *ngIf="loan.loanStatus === 'Approved'"> <span class="badge badge-success">{{
                                                loan.loanStatus }}</span>
                                        <td *ngIf="loan.loanStatus === 'Recovered'"> <span class="badge badge-info">{{
                                                loan.loanStatus }}</span>
                                        <td *ngIf="loan.loanStatus === 'Canceled'"> <span class="badge badge-danger">{{
                                                loan.loanStatus }}</span>
                                        </td>
                                        <td>{{loan.statusDate | date: 'dd/MM/yyyy' }}</td>
                                        <td>
                                            <a routerLink="/loans/view/{{loan.id}}"
                                                class="btn btn-sm btn-rounded btn-info font-size-18 mr-2">
                                                <i class="text-white ti-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <!-- Spinner isLoading -->
                                    <tr *ngIf="!loans">
                                        <td colspan="12" class="text-center">
                                            <span
                                                class="text-success spinner-border spinner-border-lg align-center"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Paginqtion area -->
                     <div class="row">
                        <div class="col-sm-12 my-4">
                          <div class="text-center">
                              //TODO Infinite scroll
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


