<!-- Content Header (Page header) -->
<div class="d-flex align-items-center bg-white">
    <!-- Left side dashboard -->
    <div class="mr-auto">
        <div class="page-title mx-3 py-4">Loans</div>
    </div>
    <div class="right-title">
        <div class="d-flex justify-content-end mr-4">
            <a type="button" class="btn btn-rounded btn-info" data-toggle="modal" data-target="#modal-center" class="font-weight-600 mb-5">
                <i class="si si-plus mr-2"></i>Request Loan
            </a>
        </div>
    </div>
  </div>
  <section class="content">
    <!-- Table list view -->
    <div class="box">
        <div class="box-header with-border table-bg">
            <h4 class="box-title">Loans</h4>
        </div>
        <div class="box-body p-15">
            <div class="table-responsive">
                <div id="tickets_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                    <!-- Filters Panel -->
                    <div class="">
                        <h4 class="box-title">FILTER TYPES <b>DATEPICKER</b></h4>
                        <!-- Filter Right Side -->
                        <div class="box-controls pull-right">
                            <div class="lookup lookup-circle lookup-right">
                                <input type="text" placeholder="Find Account">
                            </div>
                        </div>
                    </div>
  
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="customers" class="table mt-0 table-hover no-wrap">
                                <thead>
                                    <tr role="row">
                                        <th>Loan ID</th>
                                        <th>Loan Type</th>
                                        <th>Amount</th>
                                        <th>Request Dated</th>
                                        <th>Status</th>
                                        <th>Approval Date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody style="width: 100%;">
                                    <div class="mb-3" *ngIf="loans?.length === 0">
                                        <div class="text-center empty-record">
                                            No Records Found!.
                                        </div>
                                    </div>
                                    <tr class="tr-border" *ngFor="let loan of loans; let i = index">
                                        <td>{{loan.id | slice: 0:10 | uppercase}}</td>
                                        <td>{{loan.loanType}}</td>
                                        <td>{{loan.loanAmount | currency: 'GHS '}}</td>
                                        <td>{{loan.created | date: 'dd/MM/yyyy - hh:mm'}}</td>
                                        <!-- <td><span class="badge badge-warning">{{loan.loanStatus}}</span> </td> -->
                                        <td *ngIf="loan.loanStatus === 'Pending'"> <span class="badge badge-warning">{{
                                                loan.loanStatus }}</span>
                                        <td *ngIf="loan.loanStatus === 'Approved'"> <span class="badge badge-success">{{
                                                loan.loanStatus }}</span>
                                        <td *ngIf="loan.loanStatus === 'Recovered'"> <span class="badge badge-info">{{
                                                loan.loanStatus }}</span>
                                        <td *ngIf="loan.loanStatus === 'Canceled'"> <span class="badge badge-danger">{{
                                                loan.loanStatus }}</span>
                                        </td>
                                        <td>{{loan.statusDate | date: 'dd/MM/yyyy' }}</td>
                                        <td>
                                            <a [routerLink]="['view', loan.id]" class="btn btn-sm btn-rounded btn-info font-size-18 mr-2">
                                                <i class="text-white ti-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <!-- Spinner isLoading -->
                                    <tr *ngIf="!loans">
                                        <td colspan="12" class="text-center">
                                            <span
                                                class="text-success spinner-border spinner-border-lg align-center"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Paginqtion area -->
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="tickets_info" role="status" aria-live="polite">
                                Showing 1 to 10 of 20 entries</div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="tickets_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous disabled" id="tickets_previous"><a
                                            href="#" aria-controls="tickets" data-dt-idx="0" tabindex="0"
                                            class="page-link">Previous</a>
                                    </li>
                                    <li class="paginate_button page-item active"><a href="#" aria-controls="tickets"
                                            data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                    <li class="paginate_button page-item "><a href="#" aria-controls="tickets"
                                            data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                    <li class="paginate_button page-item next" id="tickets_next"><a href="#"
                                            aria-controls="tickets" data-dt-idx="3" tabindex="0"
                                            class="page-link">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  
  
  <!-- Modal -->
  <div class="modal center-modal" id="modal-center">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="page-title">{{modalTitle}}</div>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <request-loan></request-loan>
  
            </div>
            <div class="modal-footer modal-footer-uniform">
                <button type="button" class="btn btn-rounded btn-info float-right" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
  </div>
  <!-- /.modal -->