@import "~@angular/material/prebuilt-themes/indigo-pink.css"; 
a, .btn {
    cursor: pointer;
}
.container {
  max-width: 1370px;
}

/* =================  DEFINED VARIABLES =================== */
.icon-xs, .icon-sm, .icon-md, .icon-lg {
  display: inline-block;
  text-align: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.icon-xs {
  width: 32px;
  height: 32px;
  line-height: 32px !important;
  font-size: 16px;
}

.icon-sm {
  width: 48px;
  height: 48px;
  line-height: 48px !important;
  font-size: 20px;
}

.icon-md {
  width: 60px;
  height: 60px;
  line-height: 60px !important;
  font-size: 28px;
}

.icon-lg {
  width: 96px;
  height: 96px;
  line-height: 96px !important;
  font-size: 42px;
}

.img-xs, .img-sm, .img-md, .img-lg {
  -o-object-fit: cover;
  object-fit: cover;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.img-xs {
  width: 40px;
  height: 40px;
}

.img-sm {
  width: 80px;
  height: 80px;
}

.img-md {
  width: 140px;
  height: 140px;
}

.img-lg {
  width: 250px;
  height: 250px;
}

.bg-user {
    background-size: cover;
    background: url('assets/img/account/user-info.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btn-absolute-right{
  position: absolute;
  right: 0px;
}
html, body { height: 100%;

}
body { 
  margin: 0; 
  font-family: Montserrat, "Montserrat-regular", sans-serif;
  font-size: 1rem;overflow-x: hidden;
  overflow-y: auto;
  color: #555555;
  background-color: #f2f2f2 !important;

}
mat-form-field{
  width: 100% !important;
  appearance: "standard"
}
.mat-error {
  font-size: 12px !important;
  color: red;
}
.page-title{
  font-size: 20px !important;
  padding: 10px !important;
}
.sub-page-title{
  font-size: 16px;
  padding: 10px 10px 10px 0px;

}
.text-link{
  color: #0c8807;
  font-weight: 600;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px !important;
}

/*======================================================
      CODE FOR COL-XXS, COL-XXS-OFFSET, COL-XXS-PUSH, COL-XXS-PULL
  ==============================================================*/
  .col-xxs-1, .col-xxs-2, .col-xxs-3, .col-xxs-4,
  .col-xxs-5, .col-xxs-6, .col-xxs-7, .col-xxs-8,
  .col-xxs-9, .col-xxs-10, .col-xxs-11, .col-xxs-12 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }
  
  @media (max-width: 575px) {
    .col-xxs-1,
    .col-xxs-2,
    .col-xxs-3,
    .col-xxs-4,
    .col-xxs-5,
    .col-xxs-6,
    .col-xxs-7,
    .col-xxs-8,
    .col-xxs-9,
    .col-xxs-10,
    .col-xxs-11 {
      float: left;
    }
  
    .col-xxs-1 {
      width: 8.333333333333332% !important;
    }
  
    .col-xxs-2 {
      width: 16.666666666666664% !important;
    }
  
    .col-xxs-3 {
      width: 25%;
    }
  
    .col-xxs-4 {
      width: 33.33333333333333%!important;
    }
  
    .col-xxs-5 {
      width: 41.66666666666667% !important;
    }
  
    .col-xxs-6 {
      width: 50% !important;
    }
  
    .col-xxs-7 {
      width: 58.333333333333336% !important;
    }
  
    .col-xxs-8 {
      width: 66.66666666666666% !important;
    }
  
    .col-xxs-9 {
      width: 75%;
    }
  
    .col-xxs-10 {
      width: 83.33333333333334% !important;
    }
  
    .col-xxs-11 {
      width: 91.66666666666666% !important;
    }
  
    .col-xxs-12 {
      width: 100% !important;
    }
  
    .col-xxs-push-1 {
      left: 8.333333333333332% !important;
    }
  
    .col-xxs-push-2 {
      left: 16.666666666666664% !important;
    }
  
    .col-xxs-push-3 {
      left: 25%;
    }
  
    .col-xss-push-4 {
      left: 33.33333333333333% !important;
    }
  
    .col-xxs-push-5 {
      left: 41.66666666666667% !important;
    }
  
    .col-xxs-push-6 {
      left: 50% !important;
    }
  
    .col-xxs-push-7 {
      left: 58.333333333333336% !important;
    }
  
    .col-xxs-push-8 {
      left: 66.66666666666666% !important;
    }
  
    .col-xxs-push-9 {
      left: 75% !important;
    }
  
    .col-xxs-push-10 {
      left: 83.33333333333334% !important;
    }
  
    .col-xxs-push-11 {
      left: 91.66666666666666% !important;
    }
  
    .col-xxs-pull-1 {
      right: 8.333333333333332% !important;
    }
  
    .col-xxs-pull-2 {
      right: 16.666666666666664% !important;
    }
  
    .col-xxs-pull-3 {
      right: 25% !important;
    }
  
    .col-xxs-pull-4 {
      right: 33.33333333333333% !important;
    }
  
    .col-xxs-pull-5 {
      right: 41.66666666666667% !important;
    }
  
    .col-xxs-pull-6 {
      right: 50%;
    }
  
    .col-xxs-pull-7 {
      right: 58.333333333333336% !important;
    }
  
    .col-xxs-pull-8 {
      right: 66.66666666666666% !important;
    }
  
    .col-xxs-pull-9 {
      right: 75%;
    }
  
    .col-xxs-pull-10 {
      right: 83.33333333333334% !important;
    }
  
    .col-xxs-pull-11 {
      right: 91.66666666666666% !important;
    }
  
    .col-xxs-offset-1 {
      margin-left: 8.333333333333332% !important;
    }
  
    .col-xxs-offset-2 {
      margin-left: 16.666666666666664% !important;
    }
  
    .col-xxs-offset-3 {
      margin-left: 25% !important;
    }
  
    .col-xxs-offset-4 {
      margin-left: 33.33333333333333% !important;
    }
  
    .col-xxs-offset-5 {
      margin-left: 41.66666666666667% !important;
    }
  
    .col-xxs-offset-6 {
      margin-left: 50% !important;
    }
  
    .col-xxs-offset-7 {
      margin-left: 58.333333333333336% !important;
    }
  
    .col-xxs-offset-8 {
      margin-left: 66.66666666666666% !important;
    }
  
    .col-xxs-offset-9 {
      margin-left: 75%;
    }
  
    .col-xxs-offset-10 {
      margin-left: 83.33333333333334% !important;
    }
  
    .col-xxs-offset-11 {
      margin-left: 91.66666666666666% !important;
    }
  }

/*======================================================
   ENDS   CODE FOR COL-XXS, COL-XXS-OFFSET, COL-XXS-PUSH, COL-XXS-PULL
  ==============================================================*/

  .m {
    margin: 0px !important;
  }
  .mt-0 {
      margin-top: 0px !important;
  }
  .mr-0 {
      margin-right: 0px !important;
  }
  .mb-0 {
      margin-bottom: 0px !important;
  }
  .ml-0 {
      margin-left: 0px !important;
  }
  .table-responsive {
      overflow: auto;
      width: 100%;
    }
.empty-record{
  font-size: 1.2rem;
  font-weight: 500;
  padding: 20px 10px 0px
}
.border-right-solid2 {
  border-right: 2px solid lightgray !important;
}

.border-left-solid2 {

  border-left: 2px solid lightgray !important;
  padding-left: 10px !important;
}