<div class="my-4">
    <div class="d-flex align-items-center bg-white">
      <!-- Left side dashboard -->
      <nav class="bg-white py-4 navbar navbar-expand navbar-light">
        <div class="navbar-nav">
             <a class="ml-1" routerLink="/loans">Payments</a>
        </div>
      </nav>
      <div class="right-title">
          <div class="d-flex justify-content-end mr-4 pull-right">
              <a routerLink="make"><i
                      class="si si-plus"></i> Make Payment</a>
          </div>
      </div>
  </div>
    
  </div>
  
<p>payments-list works!</p>
