<aside class="main-sidebar">
	<!-- sidebar-->
	<section class="sidebar">
	  <!-- sidebar menu-->
	  <ul class="sidebar-menu" style="background: #fafafa; min-height: 100vh;" data-widget="tree">
		
		<li>
		  <a routerLinkActive="active" href="dashboard">
			<i class="si si-layers"></i>
			<span>Dashboard</span>
		  </a>
		</li>
		<li>
		  <a vrouterLinkActive="active" href="customers">
			<i class="si si-people"></i>
			<span>Customers</span>
		  </a>
		</li>
		<li>
		  <a routerLink="/loans">
			<i class="mdi mdi-cash-usd"></i>
			<span>Loans</span>
		  </a>
		</li>
		<li>
		  <a routerLink="/payments">
			<i class="mdi mdi-cash-multiple"></i>
			<span>Payments</span>
		  </a>
		</li>
		<li>
		  <a routerLink="/invoices">
			<i class="mdi mdi-export"></i>
			<span>Invoices</span>
		  </a>
		</li>
		<li>
		  <a routerLink="/reports">
			<i class="si si-book-open"></i>
			<span>Reports</span>
		  </a>
		</li>
		<li>
		  <a routerLink="/settings">
			<i class="ti ti-settings"></i>
			<span>Settings</span>
		  </a>
		</li>
  
		<li class="header line"></li>
		<li>
		  <a routerLink="/auth/login">
			<i class="si si-logout"></i>
			<span>Logout</span>
		  </a>
		</li>
  
		<!-- <li class="treeview">
		  <a href="#">
			<i class="mdi mdi-email"></i> <span>Mailbox</span>
			<span class="pull-right-container">
			  <i class="fa fa-angle-right pull-right"></i>
			</span>
		  </a>
		  <ul class="treeview-menu">
			<li>
			  <a href="mailbox_inbox.html"><i class="ti-more"></i>Inbox</a>
			</li>
			<li>
			  <a href="mailbox_compose.html"><i class="ti-more"></i>Compose</a>
			</li>
			<li>
			  <a href="mailbox_read_mail.html"><i class="ti-more"></i>Read</a>
			</li>
		  </ul>
		</li> -->
	  </ul>
	  <div class="sidebar-footer">
		<a href="/" class="pull-left btn btn-white">
		  <i class="mdi mdi-settings"></i>
		</a>
		<a href="/auth/login" class="btn btn-white">
		  <i class="mdi mdi-account"></i>
		</a>
		<a href="/auth/login" class="pull-right btn btn-white">
		  <i class="ti ti-power-off"></i>
		</a>
	  </div>
	</section>
  </aside>
  